bleak==0.22.3
bottle==0.13.2
bottle-websocket==0.2.9
cffi==1.17.1
Eel==0.18.1
future==1.0.0
gevent==24.11.1
gevent-websocket==0.10.1
greenlet==3.1.1
pycparser==2.22
pyparsing==3.2.1
setuptools==75.6.0
typing_extensions==4.12.2
winrt-runtime==2.3.0
winrt-Windows.Devices.Bluetooth==2.3.0
winrt-Windows.Devices.Bluetooth.Advertisement==2.3.0
winrt-Windows.Devices.Bluetooth.GenericAttributeProfile==2.3.0
winrt-Windows.Devices.Enumeration==2.3.0
winrt-Windows.Foundation==2.3.0
winrt-Windows.Foundation.Collections==2.3.0
winrt-Windows.Storage.Streams==2.3.0
zope.event==5.0
zope.interface==7.2
